<fieldset>
    <legend class="layui-bg-cyan">条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-input-inline">
                <input name="name" value="{$Think.get.name|default=''}" placeholder="课程名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">课程代码</label>
            <div class="layui-input-inline">
                <input name="code" value="{$Think.get.code|default=''}" placeholder="请输入课程代码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">考核方式</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="evaluation_mode">
                    <option value="">全部</option>
                    {foreach $evaluationData as $key => $evaluation}
                    {if isset($_GET['evaluation_mode']) and $_GET['evaluation_mode'] eq $key}
                    <option selected value="{$key}">{$evaluation}</option>
                    {else}
                    <option value="{$key}">{$evaluation}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="college_id">
                    <option value="">全部</option>
                    {foreach $collegeData as $key => $college}
                    {if isset($_GET['college_id']) and $_GET['college_id'] eq $key}
                    <option selected value="{$key}">{$college}</option>
                    {else}
                    <option value="{$key}">{$college}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">课程性质</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="course_type">
                    <option value="">全部</option>
                    {foreach $collegeTypeData as $key => $collegeType}
                    {if isset($_GET['course_type']) and $_GET['course_type'] eq $key}
                    <option selected value="{$key}">{$collegeType}</option>
                    {else}
                    <option value="{$key}">{$collegeType}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">教学老师</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="teacher_id">
                    <option value="">全部</option>
                    {foreach $teacherData as $key => $teacher}
                    {if isset($_GET['teacher_id']) and $_GET['teacher_id'] eq $key}
                    <option selected value="{$key}">{$teacher}</option>
                    {else}
                    <option value="{$key}">{$teacher}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>

<script>form.render()</script>