{block name="style"}
<style>
    .analysis{
        text-align: center;
    }
    .analysis_main{
        text-align: center;
        width: 600px;
        height:400px;
        margin:0 auto
    }
</style>
{/block}
{extend name='admin@main'}
{block name='content'}
<table class="layui-table">
    <caption class="margin-bottom-10 text-left">{include file='analysis/index_search'}</caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>学院</th>
        <th>班级</th>
        <th>课程名</th>
        <th>学生</th>
        <th>知识点分数</th>
        <th>分数</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {volist name="recordData" id="item"}
    <tr>
        <td>{$item.id}</td>
        <td>{$collegeData[$item['college_id']]}</td>
        <td>{$gradeData[$item['grade_id']]}</td>
        <td>{$courseData[$item['course_id']]}</td>
        <td>{$studentData[$item['student_id']]['name']}</td>
        <td>{$knowledgeData[$item['knowledge_id']]['name']}</td>
        <td>{$item.score}</td>
    </tr>
    {/volist}
    {$recordData->render()}
    </tbody>
</table>
<!--<div class="analysis">-->
    <!--<div class="analysis_main" id="main" style=""></div>-->
<!--</div>-->
{/block}
{block name='script'}
<script>
   // $(function () {
   //     // 基于准备好的dom，初始化echarts实例
   //     var myChart = echarts.init(document.getElementById('main'));
   //
   //     // 指定图表的配置项和数据
   //     var option = {
   //         title: {
   //             text: '目标达成分析'
   //         },
   //         tooltip: {},
   //         legend: {
   //             data:['成绩']
   //         },
   //         xAxis: {
   //             data: ["成绩","成绩","成绩","成绩","成绩","成绩"]
   //         },
   //         yAxis: {},
   //         series: [{
   //             name: '成绩',
   //             type: 'bar',
   //             data: [5, 20, 36, 10, 10, 20]
   //         }]
   //     };
   //
   //     // 使用刚指定的配置项和数据显示图表。
   //     myChart.setOption(option);
   // })
</script>
{/block}