{extend name='admin@main'}

{block name="button"}

{if auth("admin/user/add")}
<button data-modal='{:url("add")}' data-title="添加班级" class='layui-btn layui-btn-sm layui-btn-primary'>添加班级</button>
{/if}

{if auth("admin/user/del")}
<button data-action='{:url("del")}' data-rule="id#{key}" data-csrf="{:systoken('student/grade/del')}" data-confirm="确定要删除这些班级吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除班级</button>
{/if}

{/block}

{block name="content"}
<table class="layui-table" lay-skin="line">
    <caption class="margin-bottom-10 text-left">{include file='grade/index_search'}</caption>
    {notempty name='list'}
    <thead>
    <tr>
        <th class='list-table-check-td think-checkbox'>
            <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
        </th>
        <th class='text-left nowrap' style="width:300px">班级名</th>
        <th class='text-left nowrap' style="width:300px">班级代码</th>
        <th class='text-left nowrap' style="width:300px">所属学院</th>
        <th class='text-left nowrap' style="width:200px">创建时间</th>
        <th class='text-left nowrap'></th>
    </tr>
    </thead>
    {/notempty}
    <tbody>
    {foreach $list as $key=>$vo}
    <tr data-dbclick>
        <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
        <td class='text-left nowrap'>
            {$vo.name|default=''}
        </td>
        <td class='text-left nowrap'>
            {$vo.code|default=0}
        </td>
        <td class='text-left nowrap'>{$vo.create_at|default=''}</td>
        <td class='text-left nowrap'>{$collegeData[$vo['college_id']]}</td>
        <td class='text-left nowrap'>
            {if auth("student/user/edit")}
            <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑用户" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
            {/if}

            {if auth("student/user/del")}
            <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该班级吗？" data-action="{:url('del')}" data-value="id#{$vo.id}" data-csrf="{:systoken('student/grade/del')}">删 除</a>
            {/if}
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>

{empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

{/block}