<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">教师名称</label>
            <div class="layui-input-block">
                <input name="name" value='{$vo.name|default=""}' placeholder="教师名称" class="layui-input">
                <!--{/if}-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年纪</label>
            <div class="layui-input-block">
                <input type="number" maxlength="11" autocomplete="off" autofocus name="age" value='{$vo.age|default=""}'  placeholder="教师年纪" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input  maxlength="11" autocomplete="off" autofocus name="phone" value='{$vo.phone|default=""}'  placeholder="手机号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <select class="layui-select" name="sex">
                    {foreach $sexData as $key => $sex}
                    {if isset($vo.sex) and $vo.sex eq $key}
                    <option selected value="{$key}">{$sex}</option>
                    {else}
                    <option value="{$key}">{$sex}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职称</label>
            <div class="layui-input-block">
                <select class="layui-select" name="title">
                    {foreach $titleData as $key => $title}
                    {if isset($vo.title) and $vo.title eq $key}
                    <option selected value="{$key}">{$title}</option>
                    {else}
                    <option value="{$key}">{$title}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-block">
                <select class="layui-select" name="college_id">
                    {foreach $collegeData as $collegeId => $college}
                    {if isset($vo.college_id) and $vo.college_id eq $collegeId}
                    <option selected value="{$collegeId}">{$college}</option>
                    {else}
                    <option value="{$collegeId}">{$college}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        window.form.render();
    </script>
</form>
