{extend name='admin@main'}

{block name="button"}

{if auth("course/index/add")}
<button data-modal='{:url("add")}' data-title="添加课程" class='layui-btn layui-btn-sm layui-btn-primary'>添加课程</button>
{/if}

{if auth("course/index/del")}
<button data-action='{:url("del")}' data-rule="id#{key}" data-csrf="{:systoken('course/index/del')}" data-confirm="确定要删除这些课程吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除课程</button>
{/if}

{/block}

{block name="content"}
<table class="layui-table" lay-skin="line">
    <caption class="margin-bottom-10 text-left">{include file='index/index_search'}</caption>
    {notempty name='list'}
    <thead>
    <tr>
        <th class='list-table-check-td think-checkbox'>
            <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
        </th>
        <th class='text-left nowrap' style="width:120px">课程名称</th>
        <th class='text-left nowrap' style="width:120px">课程代码</th>
        <th class='text-left nowrap' style="width:180px">学分</th>
        <th class='text-left nowrap' style="width:180px">学年</th>
        <th class='text-left nowrap' style="width:150px">周学时</th>
        <th class='text-left nowrap' style="width:150px">考核方式</th>
        <th class='text-left nowrap' style="width:150px">开课学院</th>
        <th class='text-left nowrap' style="width:150px">专业方向</th>
        <th class='text-left nowrap' style="width:150px">课程性质</th>
        <th class='text-left nowrap' style="width:150px">课程容量</th>
        <th class='text-left nowrap' style="width:150px">课程剩余容量</th>
        <th class='text-left nowrap' style="width:150px">教学老师</th>
        <th class='text-left nowrap'></th>
        <th class='text-left nowrap'></th>
    </tr>
    </thead>
    {/notempty}
    <tbody>
    {foreach $list as $key=>$vo}
    <tr data-dbclick>
        <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
        <td class='text-left nowrap'>
            {$vo.name|default=''}
        </td>
        <td class='text-left nowrap'>
            {$vo.code|default=0}
        </td>
        <td class='text-left nowrap'>{$vo.credits}</td>
        <td class='text-left nowrap'>{$vo.school_year}</td>
        <td class='text-left nowrap'>{$vo.week_of_school}</td>
        <td class='text-left nowrap'>{$evaluationData[$vo.evaluation_mode]}</td>
        <td class='text-left nowrap'>{$collegeData[$vo.college_id]}</td>
        <td class='text-left nowrap'>{$vo.major_field}</td>
        <td class='text-left nowrap'>{$collegeTypeData[$vo.course_type]}</td>
        <td class='text-left nowrap'>{$vo.count}</td>
        <td class='text-left nowrap'>{$vo['count']-$vo['has_count']}</td>
        <td class='text-left nowrap'>{$teacherData[$vo.teacher_id]}</td>
        <td class='text-left nowrap'>
            {if auth("course/index/edit")}
            <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑用户" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
            {/if}

            {if auth("course/index/del")}
            <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该用户吗？" data-action="{:url('del')}" data-value="id#{$vo.id}" data-csrf="{:systoken('course/index/del')}">删 除</a>
            {/if}
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>

{empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

{/block}