<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-block">
                <select class="layui-select" name="college_id" lay-filter="college_id" id="college_id" required lay-search>
                    <option selected value="">请选择学院</option>
                    {foreach $collegeData as $key => $college}
                    {if isset($vo.college_id) and $vo.college_id eq $key}
                    <option selected value="{$key}">{$college}</option>
                    {else}
                    <option value="{$key}">{$college}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">名称</label>
            <div class="layui-input-block">
                <input name="name" value='{$vo.name|default=""}' placeholder="名称" class="layui-input" required>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        window.form.render();
    </script>
</form>
