<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-block">
                <select class="layui-select" name="college_id">
                    {foreach $collegeData as $key => $college}
                    {if isset($vo.college_id) and $vo.college_id eq $key}
                    <option selected value="{$key}">{$college}</option>
                    {else}
                    <option value="{$key}">{$college}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属班级</label>
            <div class="layui-input-block">
                <select class="layui-select" name="grade_id">
                    {foreach $gradeData as $key => $grade}
                    {if isset($vo.grade_id) and $vo.grade_id eq $key}
                    <option selected value="{$key}">{$grade}</option>
                    {else}
                    <option value="{$key}">{$grade}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">学生名称</label>
            <div class="layui-input-block">
                <input name="name" value='{$vo.name|default=""}' placeholder="学生名称" class="layui-input">
                <!--{/if}-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input name="age" value='{$vo.age|default=""}' placeholder="请输入年龄" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">起止周</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input name="week_of_school" value='{$vo.week_of_school|default=""}' placeholder="请输入周学时" class="layui-input">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">上课时间</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input name="week_of_school" value='{$vo.week_of_school|default=""}' placeholder="请输入周学时" class="layui-input">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">上课地点</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input name="week_of_school" value='{$vo.week_of_school|default=""}' placeholder="请输入周学时" class="layui-input">-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input  maxlength="11" autocomplete="off" autofocus name="phone" value='{$vo.phone|default=""}'  placeholder="手机号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input   autocomplete="off" autofocus name="student_number" value='{$vo.student_number|default=""}'  placeholder="学号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-block">
                <input  autocomplete="off" autofocus name="id_number" value='{$vo.id_number|default=""}'  placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <select class="layui-select" name="sex">
                    {foreach $sexData as $key => $sex}
                    {if isset($vo.sex) and $vo.sex eq $key}
                    <option selected value="{$key}">{$sex}</option>
                    {else}
                    <option value="{$key}">{$sex}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>

    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        window.form.render();
    </script>
</form>
